.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background-color: #404040;
  justify-content: center;
}
.footer p {
  padding: 0.5em;;
  font-size: 1em;
  color: #b0ffdb;
  text-align: center;
}

/* Media queries */

@media screen and (max-width: 600px) {
  .footer p {
    margin: 0;
    font-size: 0.8em;
  }
}